version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.4.0

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: cimg/node:16.18-browsers
      environment:
        NODE_ENV: development 

jobs:
  test:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
      - run: npm install
      - run: npm run build:ci
      - browser-tools/install-browser-tools
      - save_cache:
          paths:
            - node_modules
            - ~/.cache/puppeteer
          key: v1-dependencies-{{ checksum "package-lock.json" }}
      - run: npm run test

  # Publish latest
  deploy:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: npm install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: npm run build:ci
      - run:
          name: Write NPM Token to ~/.npmrc
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc
      - run:
          name: Publish package
          command: npx semantic-release@19.0.5


workflows:
  version: 2

  # PULL REQUEST
  test:
    jobs:
      - test:
          filters:
            branches:
              ignore:
                - master

  # MERGE TO MASTER
  build-test-deploy:
    jobs:
      - deploy:
          filters:
            branches:
              only: master
